{% extends "budget/base.html" %}
{% block title %}Budget{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<p>
<h1>{{ user|title}} Budget Page</h1>
</p>

<section>
  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Add item">
    </form>
  </div>

  {% for key, value in total_cost.items %}
  <h1>Total expenses: {{value|floatformat:2}} zł</h1>
  {% endfor %}
  <h1>Total income: 1000 zł</h1>
  <h1>Diff: 500 zł</h1>
</section>

<div class="container-sm">

  <h2>Expenses</h2>
  <p>Your expenses ordered by the newest:</p>

  <span class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  </span>

  <nav aria-label="Page navigation example">
    
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor%}

      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
      {% endif %}
    </ul>
  </nav>

  {% if messages %}
  <div class="alert">
    {% for message in messages %}
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>{% if message.tags %} {% endif %} {{ message }}</strong>
    {% endfor %}
  </div>
  {% endif %}
  <div class="table-wrapper">
  <table class="table table-hover w-auto">
    <thead>
      <tr>
        <th>Category</th>
        <th>Cost</th>
        <th>Date added</th>
        <th>Item ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% comment %} {% for expense_item in expanse_items %} Use without pagination {% endcomment %} 
      {% for expense_item in page_obj %}
      <tr>
        <td>{{ expense_item.category }}</td>
        <td>{{ expense_item.cost|floatformat:2 }} zł</td>
        <td>{{ expense_item.date_added|date:"d.m.Y" }}</td>
        <td>{{ expense_item.id }}</td>
        <td><a href="{% url 'delete-item' expense_item.id %}" class="btn btn-danger btn-sm">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
 </div>
</div>

{% endblock %}