{% extends "budget/base.html" %}
{% block title %}Budget{% endblock %}
{% block content %} 

<p><h1>Budget Page</h1></p>

<div class="grid-container">
    <div class="row">
      <div class="col-md">
        One  {{ expense_item.category }}
      </div>
      <div class="col-md">
        One of three columns
      </div>
      <div class="col-md">
        One of three columns
      </div>
    </div>
  </div>

  <tbody>
    {% for expense_item in expense_items %}
    <tr>
        <td>{{ expense_item.category }}</td>
        <td>{{ expense_item.cost }}</td>
        <td>{{ expense_item.date_added}}</td>
        <td></td>
    </tr>
    {% endfor %}
</tbody>

{% endblock %}

<!-- {% for expense_item in expense_items %}
{{ expense_item.expense_name }}
{% endfor %} -->