{% extends "budget/base.html" %}
{% block title %}Budget{% endblock %}
{% block content %} 

<p><h1>{{ user }} Budget Page</h1></p>

{% for key, value in total_cost.items %}
<h1>Total expenses: {{value|floatformat:2}} zł</h1>
{% endfor %}

<form method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Add item">
</form>

<div class="container-sm">
  <h2>Expenses</h2>
  <p>Your expenses ordered by the newest:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Cost</th>
        <th>Date added</th>
        <th>Item ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for expense_item in expense_items %}
      <tr>
        <td>{{ expense_item.category }}</td>
        <td>{{ expense_item.cost|floatformat:2 }} zł</td>
        <td>{{ expense_item.date_added|date:"d.m.Y" }}</td>
        <td>{{ expense_item.id }}</td>
        {% for items in item %}
        <td><a href="{% url 'delete-item' item_id %}" class="btn btn-outline-danger btn-sm">Delete item</a></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
